Django==5.1.7
django-admin-interface==0.29.4
django-ckeditor==6.7.2
django-ckeditor-5==0.2.17
django-colorfield==0.12.0
django-jazzmin==3.0.1
django-js-asset==3.1.2
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.1.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.51.1
tokenizers==0.21.1
tiktoken==0.9.0
numpy==1.26.4
pillow==10.4.0
requests==2.32.3
tqdm==4.67.1
sentencepiece==0.2.0
regex==2024.11.6
moviepy==2.1.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
pydub==0.25.1
openai-whisper==20240930
yt-dlp==2025.3.31
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pypdf==5.4.0
reportlab==4.3.1
xhtml2pdf==0.2.17
svglib==1.5.1
python-bidi==0.6.6
arabic-reshaper==3.0.0
beautifulsoup4==4.13.3
soupsieve==2.6
sqlparse==0.5.3
tzdata==2025.2
tzlocal==5.3.1
typing_extensions==4.13.0
filelock==3.18.0
jinja2==3.1.6
fsspec==2025.3.2
sympy==1.13.1
mpmath==1.3.0
decorator==5.1.1
PySocks==1.7.1
